@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap");

:root {
    --color-dark: #131516;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-accent: #00ffa3;
    --color-muted: #4e4e4e;

    --font-main: "Noto Sans", Arial, sans-serif;
    --container-width: 1200px;
    --container-padding: 20px;
}
