*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-width: 100vw;
    scroll-behavior: smooth;
    text-size-adjust: 100%;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

body {
    min-height: 100vh;
    margin: 0;
    color: var(--color-white);
    background: var(--color-dark);
}

body.is-menu-open {
    overflow: hidden;
}

body,
button,
input,
textarea,
select {
    font: 400 16px/1.4 var(--font-main);
}

button {
    padding: 0;
    color: inherit;
    background: none;
    border: 0;
}

button,
a,
[role="button"] {
    cursor:
        url("/cursor.svg") 4 4,
        pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
svg {
    display: block;
    max-width: 100%;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
